<!-- Top nav Title.  Changes based on top nav choice -->
<div class="card">
  <div id="title"><h1>Projects</h1></div>
</div>
<!-- Float left nav -->
<div id="left-nav"></div>
<!-- Float right nav -->
<div id="right-nav"></div>
<!-- Main content -->
<div id="main-content">
  <div class="container">
    <h2>Crosses with the Largest Area</h2>
    <p>Randomly generate a grid and find the area of possible crosses on the green squares.  Find the two crosses in which their areas multiplied by each other is the largest.
    Can you find the right answer?</p>
    <canvas id="the_canvas"></canvas>
    <br>
    <button id="randomize_button">Randomize</button>
    <button id="crosses_answer_button">Answer</button>
    <button id="auto_show_answer_button">Auto Show Answer</button>
    <label>Green Likelihood: </label><input type="textfield" id="green_likelihood" value ="0.7"></input>
    <div id="the_output"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
